<div class="subsection3" id="applications">
    <h2 class="page-header text-csecondary">Additional Color Applications</h2>
    <p>You are able to apply most of the above color variations as text or border colors:</p>
    <div class="alert alert-warning">
        <p><strong>Note:</strong> Using the any of the border classes below will only apply the colored border to elements that already have a border. It will not add a border to elements that do not have one to begin with.</p>
    </div>
    <div class="row extra-space">
        <div class="col-sm-6">
            <h3>Text Color</h3>
            <div class="color-swatch img-circle" style="margin:0;">
                <p class="text-cprimary">Aa</p>
            </div>
            <div class="spacer-1"></div>
            <p>Simply apply any of these classes:</p>
            <p>
                <code>.text-cprimary</code><br>
                <code>.text-cprimary-lt</code><br>
                <code>.text-cprimary-dk</code><br>
                <code>.text-csecondary</code><br>
                <code>.text-csecondary-lt</code><br>
                <code>.text-csecondary-dk</code><br>
                <code>.text-cwhite</code><br>
                <code>.text-cgrey-05</code><br>
                <code>.text-cgrey</code><br>
                <code>.text-cgrey-40</code><br>
                <code>.text-cgrey-60</code><br>
                <code>.text-cgrey-80</code><br>
                <code>.text-cblack</code><br>
            </p>
        </div>
        <div class="col-sm-6">
            <h4>Border Color</h4>
            <div class="color-swatch img-circle border-cprimary" style="border:1pt solid;margin:0;">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <p>Simply apply any of these classes:</p>
            <p>
                <code>.border-cprimary</code><br>
                <code>.border-cprimary-lt</code><br>
                <code>.border-cprimary-dk</code><br>
                <code>.border-csecondary</code><br>
                <code>.border-csecondary-lt</code><br>
                <code>.border-csecondary-dk</code><br>
                <code>.border-cwhite</code><br>
                <code>.border-cgrey-05</code><br>
                <code>.border-cgrey</code><br>
                <code>.border-cgrey-40</code><br>
                <code>.border-cgrey-60</code><br>
                <code>.border-cgrey-80</code><br>
                <code>.border-cblack</code><br>
            </p>
        </div>
    </div>
</div>
