<div class="subsection3" id="contextual">
  <h2 class="page-header text-csecondary">Contextual Colors</h2>
  <p>Bootstrap offers the ability to convey meaning through color.</p>
  <div class="alert alert-warning extra-padding">
      <div class="pgs-accordion pgs-accordion--quiet">
        <h3>
            <a href="#ada-meaning-color" class="collapsible collapsed" data-toggle="collapse" aria-expanded="false">
                <span aria-hidden="true" class="ico fas fa-universal-access ico-left""></span>Accessibility Note: Conveying Meaning Through Color
            </a>
        </h3>
        <div id="ada-meaning-color" class="panel-collapse collapse">
            <div class="spacer-2"></div>
            <p>Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (the contextual colors are only used to reinforce meaning that is already present in the text/markup), or is included through alternative means.</p>
            <p>In many cases, contextual colors are considered a <em>progressive enhancement</em>.</p>
        </div>
    </div>
  </div>
  <div class="spacer-2"></div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <h3>Success</h3>
        <div class="color-swatch img-circle bg-success">
        </div>
        <div class="spacer-1"></div>
        <p class="height-md-150 height-sm-200">This color could mean that the user is on the right ("successful") path, or that the information presented is generally positive.</p>
        <div class="spacer-1"></div>
        <h4>Apply as Text Color</h4>
        <code class="lead">.text-success</code>
        <div class="code-example card-3">
          <p class="text-success">There are seven campuses of Dallas College.</p>
        </div>
        <h4>Apply as Background Color</h4>
        <code class="lead">.bg-success</code>
        <div class="code-example card-3">
          <div class="bg-success"><p>There are seven campuses of Dallas College.</p></div>
        </div>

    </div>
    <div class="col-sm-3 text-center">
      <h3>Info</h3>
        <div class="color-swatch img-circle bg-info">
        </div>
        <div class="spacer-1"></div>
        <p class="height-md-150 height-sm-200">This color could be used to convey that the information presented is neutral or non-essential.</p>
        <div class="spacer-1"></div>
        <h4>Apply as Text Color</h4>
        <code class="lead">.text-info</code>
        <div class="code-example card-3">
          <p class="text-info">There are seven campuses of Dallas College.</p>
        </div>
        <h4>Apply as Background Color</h4>
        <code class="lead">.bg-info</code>
        <div class="code-example card-3">
          <div class="bg-info"><p>There are seven campuses of Dallas College.</p></div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Warning</h3>
        <div class="color-swatch img-circle bg-warning">
        </div>
        <div class="spacer-1"></div>
        <p class="height-md-150 height-sm-200">This color could be used to draw the user's attention to the information presented. That it's something they should be aware of.</p>
        <div class="spacer-1"></div>
        <h4>Apply as Text Color</h4>
        <code class="lead">.text-warning</code>
        <div class="code-example card-3">
          <p class="text-warning">There are seven campuses of Dallas College.</p>
        </div>
        <h4>Apply as Background Color</h4>
        <code class="lead">.bg-warning</code>
        <div class="code-example card-3">
          <div class="bg-warning"><p>There are seven campuses of Dallas College.</p></div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Danger</h3>
        <div class="color-swatch img-circle bg-danger">
        </div>
        <div class="spacer-1"></div>
        <p class="height-md-150 height-sm-200">This color could be used to alert the user of any critical information, or that they are on an incorrect path.</p>
        <div class="spacer-1"></div>
        <h4>Apply as Text Color</h4>
        <code class="lead">.text-danger</code>
        <div class="code-example card-3">
          <p class="text-danger">There are seven campuses of Dallas College.</p>
        </div>
        <h4>Apply as Background Color</h4>
        <code class="lead">.bg-danger</code>
        <div class="code-example card-3">
          <div class="bg-danger"><p>There are seven campuses of Dallas College.</p></div>
        </div>
    </div>
  </div>
</div>
