                  <section>
                      <div class="subsection3" id="main">
                          <h2 class="page-header text-csecondary">Main Colors</h2>
                          <p class="lead">The PEGASUS color palette is derived from the <a href="/about/style/pages/collegecolors.aspx">Dallas College brand guidelines</a>. When translated to use on web, we have use of three main color categories:</p>
                          <ol>
                              <li>a primary color category (<strong>cprimary</strong>),</li>
                              <li>a secondary color category (<strong>csecondary</strong>)</li>
                              <li>and a grey color category/spectrum (<strong>cgrey</strong>).</li>
                          </ol>
                          <div class="row extra-space">
                              <div class="col-sm-4 text-center">
                                  <h3>cprimary</h3>
                                  <p>Dallas College Blue</p>
                                  <div class="color-swatch img-circle bg-cprimary">
                                      <p>Aa</p>
                                  </div>
                                  <div class="spacer-2"></div>
                                  <h4>Apply as Background Color</h4>
                                  <code class="lead">.bg-cprimary</code></p>
                                      <pre><code class="language-css text-left">background:#003385;
color:#fffff;</code></pre>
                              </div>
                              <div class="col-sm-4 text-center">
                                  <h3>csecondary</h3>
                                  <p>Dallas College Red</p>
                                  <div class="color-swatch img-circle bg-csecondary">
                                      <p>Aa</p>
                                  </div>
                                  <div class="spacer-2"></div>
                                  <h4>Apply as Background Color</h4>
                                  <code class="lead">.bg-csecondary</code></p>
                                  <pre><code class="language-css text-left">background:#E52626;
color:#fffff;</code></pre>
                              </div>
                              <div class="col-sm-4 text-center">
                                  <h3>cgrey</h3>
                                  <p>Adapted from Dallas College Silver</p>
                                  <div class="color-swatch img-circle bg-cgrey">
                                      <p>Aa</p>
                                  </div>
                                  <div class="spacer-2"></div>
                                  <h4>Apply as Background Color</h4>
                                  <code class="lead">.bg-cgrey</code></p>
                                <pre><code class="language-css text-left">background:#E5E2D6;
color:#000000;</code></pre>
                              </div>
                          </div>
                          <div class="spacer-2"></div>
                          <div class="alert extra-padding alert-danger">
                              <div class="pgs-accordion pgs-accordion--quiet">
                                <h3>
                                    <a href="#Collapsedep-old-classes" class="collapsible collapsed" data-toggle="collapse" aria-expanded="false">
                                        <span aria-hidden="true" class="ico fas fa-ban ico-left"></span>Deprecated: Old Color Classes
                                    </a>
                                </h3>
                                <div id="Collapsedep-old-classes" class="panel-collapse collapse">
                                        <p>Color class applications for all colors have changed!</p>
                                        <ul>
                                            <li>Instead of <code>.cprimary</code>, <code>.csecondary</code>, etc.
                                                <ul>
                                                    <li>We now use: <code><strong>.bg</strong>-cprimary</code>, <code><strong>.bg</strong>-csecondary</code>, etc.</li>
                                                </ul>
                                            </li>
                                            <li>Instead of <code>.cprimary-font</code>, <code>.csecondary-font</code>, etc.
                                                <ul>
                                                    <li>We now use: <code><strong>.text</strong>-cprimary</code>, <code><strong>.text</strong>-csecondary</code>, etc.</li>
                                                </ul>
                                            </li>
                                            <li>Instead of <code>.cprimary-border</code>, <code>.csecondary-border</code>, etc.
                                                <ul>
                                                    <li>We now use: <code><strong>.border</strong>-cprimary</code>, <code><strong>.border</strong>-csecondary</code>, etc.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <p>These old classes will remain usable until January 1, 2021. All uses should be updated by that date.</p>

                                </div>
                            </div>
                          </div>
                          <div class="alert extra-padding alert-warning">
                              <h3><span aria-hidden="true" class="ico fas fa-universal-access ico-left"></span> <strong>Accessibility Note: Contrast and Background Colors</strong></h3>
                              <p>Note that when using any of the color classes (above or below), the <code>font-color</code> will update to either black or white for maximum color contrast (which all meet WCAG 2.0 AA standards).</p>
                              <p>If in doubt, you can use <a href="https://webaim.org/resources/contrastchecker/">this tool</a> to make sure your text and background colors meet the 4.5:1 contrast ratio requirement.</p>
                          </div>
                          <div class="alert extra-padding alert-info">
                              <h3><span aria-hidden="true" class="ico fas fa-exclamation-circle ico-left"></span> <strong>&ldquo;Dallas College Silver&rdquo; vs. cgrey</strong></h3>
                              <p>Also note that the color used for <code>cgrey</code> is not the exact Dallas College Silver as outlined in the Brand Guidelines. It has been adapted (lightened) for improved contrast. To utilize the true Dallas College Silver color, the class <code>.cgrey-20</code> is available. See the grey spectrum below.</p>
                          </div>
                      </div>
                  </section>
