<div class="subsection3" id="values">
    <h2 class="page-header text-csecondary">Color Value Variations &amp; Classes</h2>
    <p class="lead">To provide additional color variety, a spectrum of ranging color values are available for each of the three major color categories.</p>
    <h3>Primary and Secondary Colors</h3>
    <p>The primary (<code>cprimary</code>) and secondary (<code>csecondary</code>) colors each have corresponding light (<code>-lt</code>), dark (<code>-dk</code>) and gradient versions (<code>-gr</code>):</p>
    <div class="alert extra-padding alert-warning">
        <h3 class="h3"><span aria-hidden="true" class="ico fas fa-universal-access"></span> <strong>Accessibility Note: Background Colors</strong></h3>
        <p>Note that when using any of the color classes (above or below), the <code>font-color</code> will update to either black or white for maximum color contrast (which all meet WCAG 2.0 AA standards).</p>
    </div>
    <div class="row extra-space">
        <div class="col-md-4 text-center">
            <h4 class="h3">cprimary-lt</h4>
            <div class="color-swatch img-circle bg-cprimary-lt">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cprimary-lt</code></p>
            <pre><code class="language-css text-left">background:#E9F2FF;
color:#000000;</code></pre>
        </div>

        <div class="col-md-4 text-center">
            <h4 class="h3">cprimary-dk</h4>
            <div class="color-swatch img-circle bg-cprimary-dk">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cprimary-dk</code></p>
            <pre><code class="language-css text-left">background:#001E49;
color:#FFFFFF;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">cprimary-gr</h4>
            <div class="color-swatch img-circle bg-cprimary-gr">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cprimary-gr</code></p>
            <pre><code class="language-css text-left">background: linear-gradient( $cprimary, darken($cprimary, 7%));
  color:#FFFFFF;</code></pre>
        </div>
    </div>
    <hr>
    <div class="row extra-space">
        <div class="col-md-4 text-center">
            <h4 class="h3">csecondary-lt</h4>
            <div class="color-swatch img-circle bg-csecondary-lt">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p><code class="lead">.bg-csecondary-lt</code></p>
            <pre><code class="language-css text-left">background:#FFE9E9;
color:#000000;</code></pre>
        </div>

        <div class="col-md-4 text-center">
            <h4 class="h3">csecondary-dk</h4>
            <div class="color-swatch img-circle bg-csecondary-dk">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p><code class="lead">.bg-csecondary-dk</code></p>
            <pre><code class="language-css text-left">background:#6D0000;
color:#FFFFFF;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">csecondary-gr</h4>
            <div class="color-swatch img-circle bg-csecondary-gr">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-csecondary-gr</code></p>
            <pre><code class="language-css text-left">background: linear-gradient( $csecondary, darken($csecondary, 7%));
color:#FFFFFF;</code></pre>
        </div>
    </div>
    <div class="spacer-3"></div>
    <h3>Grey Spectrum</h3>
    <p>To provide even greater flexibility, the grey colors have been expanded to five additional grey values all based from Dallas College Silver and labelled by the percentage of dark that they are (the lower the number, the lighter the value). For reference, <strong>cgrey</strong> is also included in the listing:</p>
    <div class="row extra-space">
        <div class="col-md-4 text-center">
            <h4 class="h3">cwhite</h4>
            <p>0% Dark</p>
            <div class="color-swatch img-circle bg-cwhite shadow-1">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cwhite</code></p>
            <pre><code class="language-css text-left">background:#FFFFFF;
color:#000000;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">cgrey-05</h4>
            <p>5% Dark</p>
            <div class="color-swatch img-circle bg-cgrey-05">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cgrey-05</code></p>
            <pre><code class="language-css text-left">background:#F7F3E8;
color:#000000;</code></pre>
        </div>

        <div class="col-md-4 text-center">
            <h4 class="h3">cgrey</h4>
            <p>10% Dark</p>
            <div class="color-swatch img-circle bg-cgrey">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cgrey</code></p>
            <pre><code class="language-css text-left">background:#E5E2D6;
color:#FFFFFF;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">cgrey-20</h4>
            <p>20% (17%) Dark</p>
            <div class="color-swatch img-circle bg-cgrey-20">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cgrey-20</code></p>
                <pre><code class="language-css text-left">background:#D6D2C4;
color:#000000;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">cgrey-40</h4>
            <p>40% Dark</p>
            <div class="color-swatch img-circle bg-cgrey-40">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p><code class="lead">.bg-cgrey-40</code></p>
            <pre><code class="language-css text-left">background:#99968D;
color:#000000;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">cgrey-60</h4>
            <p>60% Dark</p>
            <div class="color-swatch img-circle bg-cgrey-60">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p><code class="lead">.bg-cgrey-60</code></p>
            <pre><code class="language-css text-left">background:#66645E;
color:#FFFFFF;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">cgrey-80</h4>
            <p>80% Dark</p>
            <div class="color-swatch img-circle bg-cgrey-80">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cgrey-80</code></p>
            <pre><code class="language-css text-left">background: #333333;
color:#FFFFFF;</code></pre>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="h3">cblack</h4>
            <p>100% Dark</p>
            <div class="color-swatch img-circle bg-cblack">
                <p>Aa</p>
            </div>
            <div class="spacer-2"></div>
            <h5 class="h4">Apply as Background Color</h5>
            <p>
                <code class="lead">.bg-cblack</code></p>
            <pre><code class="language-css text-left">background: #000000;
color:#FFFFFF;</code></pre>
        </div>
    </div>
    </div>
