---
layout: default-level2
title: Buttons
permalink: elements/buttons.html
---

                <!-- TYPOGRAPHY Outside Container -->
                <div id="top">
                    <section id="buttons">
                        <nav class="text-center">
                            <ul class="list-inline h4">
                                {% include ul/buttons-ul.html %}
                            </ul>
                        </nav>
                    </section>
                </div> <!-- /outsideContainer -->

                <aside class="text-end text-csecondary small"><strong>Last Updated:</strong> 9/4/2020</aside>
                {% include elements/buttons/using.html %}
                {% include elements/buttons/sizes.html %}
                {% include elements/buttons/types.html %}
                {% include elements/buttons/groups.html %}
