---
layout: default-level2
title: Colors
permalink: elements/colors.html
---

                <!-- COLORS Outside Container -->
                <div id="top">
                    <section id="colors">
                        <nav class="text-center">
                            <ul class="list-inline h4">
                                {% include ul/colors-ul.html %}
                            </ul>
                            <a class="button button-sm bg-cprimary" href="{{ site.baseurl }}cheatsheets/color-cheatsheet.html">View Colors Cheatsheet</a>                            
                        </nav>
                    </section>
                </div> <!-- /outsideContainer -->

                {% include elements/colors/main.html %}
                {% include elements/colors/values.html %}
                {% include elements/colors/contextual.html %}
                {% include elements/colors/applications.html %}

                <nav class="text-center">
                    <ul class="list-inline h5">
                        {% include ul/colors-ul.html %}
                    </ul>
                </nav>
