---
layout: default-level2
title: Icons
permalink: elements/icons.html
---

                <!-- COLORS Outside Container -->
                <div id="top">
                    <section id="typography">
                        <nav class="text-center">
                            <ul class="list-inline h4">
                                {% include ul/icons-ul.html %}
                            </ul>
                            <a class="button button-sm bg-cprimary" href="https://fontawesome.com/icons?d=gallery&s=brands,regular,solid&m=free"><span class="ico fas fa-external-link-alt" aria-label="(Link to External Website)"></span>Full Icon List</a>
                        </nav>
                    </section>
                </div> <!-- /outsideContainer -->

                {% include elements/icons/using.html %}
                {% include elements/icons/a11y.html %}
                {% include elements/icons/mod.html %}
                {% include elements/icons/icon-lists.html %}
