<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link id="fontawesome_fonts__0" rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/fontawesome/all.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/dcstyles.css">
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.bundle.min.js"></script>
    <!--
    <link id="normalize_style_0" rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/normalize/normalize.css" />
    <link id="bootstrap_style_0" rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/bootstrap3/css/bootstrap.min.css" />
    <link id="fontawesome_fonts__0" rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/fontawesome/css/all.min.css" />
    <link id="site_style_0" rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/styles.css" />
    <link id="site_style_1" rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/framework-styles.css" />
    <title>{{ page.title }} &ndash; {{ site.title }}</title>
    <script type="text/javascript" src="{{ site.baseurl }}assets/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/js/masterpage_scripts.js"></script>
    <script src="{{ site.baseurl }}assets/prism/prism.js"></script>
    <link href="{{ site.baseurl }}assets/prism/prism.css" rel="stylesheet" />
    -->
    
</head>
