                <section>
                    <div class="subsection3">
                        <h2 class="page-header text-csecondary" id="sizes">Button Sizes</h2>
                        <p>In addition to the default button shown above, there are four additional button sizes available. </p>
                        <p>Add any of the size classes below to <code>&lt;a class="button"&gt;</code>:</p>
                        <ul>
                            <li><code>.button-xl</code> - makes button text: <code class="language-css">font-size: 1.5rem /* 24px */</code></li>
                            <li><code>.button-lg</code> - makes button text: <code class="language-css">font-size: 1.25rem /* 20px */</code></li>
                            <li><code>.button-sm</code> - makes button text: <code class="language-css">font-size: .8625rem /* 14px */</code></li>
                            <li><code>.button-mn</code> - makes button text: <code class="language-css">font-size: .625rem /* 10px */; text-transform: uppercase</code></li>
                        </ul>
                        <div  class="row extra-space">
                          <div class="col-sm-12">
                            <h3>Extra Large Button <code>.button-xl</code></h3>
                            <div class="code-example shadow-3">
                              <a href="#" class="button button-xl bg-cprimary">Extra Large Button</a>
                              <a href="#" class="button button-xl bg-cprimary"><span class="ico fab fa-twitter" aria-hidden="true"></span> Extra Large Button with Icon</a>
                            </div>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-xl bg-cprimary"&gt;Button Text&lt;/a&gt;</code></pre>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-xl bg-cprimary"&gt;&lt;span class="ico fab fa-twitter" aria-hidden="true"&gt;&lt;/span&gt; Button Text&lt;/a&gt;</code></pre>
                          </div>
                          <div class="col-sm-12">
                            <h3>Large Button <code>.button-lg</code></h3>
                            <div class="code-example shadow-3">
                              <a href="#" class="button button-lg bg-cprimary">Large Button</a>
                              <a href="#" class="button button-lg bg-cprimary"><span class="ico fab fa-twitter" aria-hidden="true"></span> Large Button with Icon</a>
                            </div>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-lg bg-cprimary"&gt;Button Text&lt;/a&gt;</code></pre>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-lg bg-cprimary"&gt;&lt;span class="ico fab fa-twitter" aria-hidden="true"&gt;&lt;/span&gt; Button Text&lt;/a&gt;</code></pre>
                          </div>
                          <div class="col-sm-12">
                            <h3>Small Button <code>.button-sm</code></h3>
                            <div class="code-example shadow-3">
                              <a href="#" class="button button-sm bg-cprimary">Small Button</a>
                              <a href="#" class="button button-sm bg-cprimary"><span class="ico fab fa-twitter" aria-hidden="true"></span> Small Button with Icon</a>
                            </div>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-sm bg-cprimary"&gt;Button Text&lt;/a&gt;</code></pre>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-sm bg-cprimary"&gt;&lt;span class="ico fab fa-twitter" aria-hidden="true"&gt;&lt;/span&gt; Button Text&lt;/a&gt;</code></pre>
                          </div>
                          <div class="col-sm-12">
                            <h3>Small Button <code>.button-mn</code></h3>
                            <div class="code-example shadow-3">
                              <a href="#" class="button button-mn bg-cprimary">Mini Button</a>
                              <a href="#" class="button button-mn bg-cprimary"><span class="ico fab fa-twitter" aria-hidden="true"></span> Mini Button with Icon</a>
                            </div>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-mn bg-cprimary"&gt;Button Text&lt;/a&gt;</code></pre>
                            <pre><code class="language-markup">&lt;a href="#" class="button button-mn bg-cprimary"&gt;&lt;span class="ico fab fa-twitter" aria-hidden="true"&gt;&lt;/span&gt; Button Text&lt;/a&gt;</code></pre>
                          </div>
                       </div>
                    </div>
                </section>
