                <section>
                    <div class="subsection3">
                        <h2 class="page-header text-csecondary" id="types">Button Types</h2>
                        <p>Pegasus includes additional button types to meet a variety of uses.</p>
                        <div class="subsesction4">
                          <div class="row extra-space">
                            <div class="col-sm-6">
                              <h3>Button Blocks <code>.button-block</code></h3>
                              <p>This style changes the width of the button to fill the width of its containing element.</p>
                              <div class="code-example shadow-3 text-center">
                                <a href="#" class="button bg-cprimary button-block">Button Block</a>
                              </div>
                              <pre class="text-center"><code class="language-markup">&lt;a href="#" class="button bg-cprimary button-block"&gt;Button Text&lt;/a&gt;</code></pre>
                            </div>

                            <div class="col-sm-6">
                              <h3>Ghost Buttons <code>.button-ghost</code></h3>
                              <p>This style gives your button a transparent background. You will need to apply one of the <code>.border-c*</code> (border) classes.</p>
                              <div class="code-example shadow-3 text-center">
                                <a href="#" class="button border-cprimary button-ghost">Ghost Button</a>
                              </div>
                              <pre class="text-center"><code class="language-markup">&lt;a href="#" class="button border-cprimary button-ghost"&gt;Button Text&lt;/a&gt;</code></pre>
                            </div>
                          </div>
                        </div>
                    </div>
                </section>
