<div class="col-sm-6">
    <h3>Lucida Bright</h3>
    <div style="font-size:64px;font-family:'Lucida Bright';padding-bottom:32px;">Aa Bb Cc</div>
    <p><strong>Lucida Bright</strong> (<code>.serif</code>) should be limited to headers or content areas that need special attention.</p>
    <p>For <strong>serif</strong>, we use Lucida Bright which should already be loaded on 76% of Windows based machines and 99% of Mac based machines.</p>
    <pre><code>font-family:'Lucida Bright', Georgia, serif;</code></pre>
    <h5>Fallbacks</h5>
    <p>The fallback typefaces used in instances where Lucida Bright is unavailable are:</p>
    <ul>
        <li>Georgia</li>
    </ul>
    <div class="alert alert-info">
        <h5><span aria-hidden="true" class="ico fas fa-life-ring"></span> Helper Class!</h5>
        <p>You can apply the <code>.serif</code> class to any HTML element (including heading elements) to transform the font to Lucida Bright.</p>
    </div>
</div>

<div class="alert alert-success extra-padding">
    <h3 class="h3"><span class="ico fas fa-check" aria-hidden="true"></span> Proper Use: Sans v. Serif</h3>
    <ul>
        <li><strong>Open Sans</strong> should always be used for body copy</li>
        <li><strong>Lucida Bright</strong> should be limited to headers or content areas that need additional emphasis and not for body copy</li>
        <li>When designing a page with lots of headers and header levels, you will find a need to have additional styles to help differentiate between <code>&lt;h2&gt;</code> and
            <code>&lt;h3&gt;</code>. Applying <code>.serif</code> to these headers is appropriate</li>
    </ul>
</div>
