                <section aria-label="Blockquote and Indent">
                    <div class="subsection3" id="blockquote-and-indent">
                        <div class="spacer-2"></div>
                        <h2 class="page-header text-csecondary">Blockquote and Indent</h2>
                        <div class="row extra-space">
                            <div class="col-sm-12">
                                <h3>Blockquotes</h3>
                                <p>You should only use <code>&lt;blockquote&gt;</code> when quoting text from another person or source. It should not be used only to style any kind of text.</p>
                                <div class="code-example shadow-3">
                                    <blockquote>You all are an integral part of Dallas College, regardless of what your role is all about. Regardless of title. Regardless of position. You are Dallas College. You connect people and ideas. You are the solution to solving the problems of those in need. You are hope. Dallas College cannot function without you. I hope you will stand with us as we transform lives and communities, creating hope and futures, bridging what divides us through education.</blockquote>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h3>Indents</h3>
                                <p>If you simply need to indent content, use the <code>.indent</code> class instead of <code>&lt;blockquote&gt;</code>.
                                    <div class="code-example shadow-3">
                                        <p class="indent">PEGASUS uses two typefaces to keep the site clear and legible. For most body text, we use Open Sans and for headings we use Montserrat..</p>
                                    </div>
                                    <pre><code class="language-markup">&lt;p class="indent"&gt;PEGASUS uses two fonts ... we use Montserrat.&lt;/p&gt;</code></pre>
                            </div>
                        </div>
                        {% include back-to-top.html %}
                    </div> <!-- /subsection3 -->
                </section>
