        <section>
            <div class="subsection3" id="body-copy">
                <h2 class="text-csecondary page-header">Body Copy</h2>
                <div class="row extra-space">
                    <div class="col-sm-12">
                        <h3>Lead Paragraph Text</h3>
                        <div class="shadow-3 code-example">
                            <p class="lead">This is lead paragraph text used by applying <code>.lead</code> class to a <code>&lt;p&gt;</code> and should be used to emphasize the first sentence(s) of an intro to a page or section.</p>
                        </div>
                        <pre><code class="language-markup">&lt;p class=&quot;lead&quot;&gt;This is lead paragraph text and should be used to emphasize the first sentence(s) of an intro to a page or section.&lt;/p&gt;</code></pre>
                        <div class="spacer-1"></div>
                        <div class="alert alert-success extra-padding">
                            <h4 class="h3"><span class="ico fas fa-check" aria-hidden="true"></span> Proper Use: Lead Paragraph</h4>
                            <p>Lead paragraph text is sized and spaced to attract the user's eye. It is intended to be used at the top of all landing pages, and the top of some interior pages. The importance of the topic (and its relevance to the student audiences) will dictate whether lead paragraph should be used. But it is up to the discretion of the web editor.</p>
                            <p>Lead paragraph text should take no more than 3-4 lines. If the full paragraph is longer than that, it should be broken up to where the first sentence or two are in lead paragraph style, while the remaining sentences are in standard paragraph style.</p>
                        </div>
                        <div class="spacer-2"></div>
                        <h3>Regular Paragraph Text</h3>
                        <div class="shadow-3 code-example">
                            <p>This is regular paragraph text which is displayed at 16px using Open Sans. This is how a <a href="#">hyperlink</a> appears in a regular paragraph.</p>
                        </div>
                        <pre><code class="language-markup">&lt;p&gt;This is regular paragraph text which is displayed at 16px using Open Sans.&lt;/p&gt;</code></pre>
                        <div class="spacer-2"></div>
                        <div class="shadow-3 code-example">
                            <p class="small">This is paragraph with <code>.small</code> text and should be used when styling a note, footnote, annotation or aside.</p>
                        </div>
                        <pre><code class="language-markup">&lt;p class=&quot;small&quot;&gt;This is paragraph with small text and should be used when styling a note, footer, annotation or aside to any other blocks of text or content.&lt;/p&gt;</code></pre>
                        <div class="spacer-1"></div>
                        <div class="alert alert-success extra-padding">
                            <h4 class="h3"><span class="ico fas fa-check" aria-hidden="true"></span> Proper Use: Small Paragraph</h4>
                            <p>Small paragraph style can be used for footnotes, asides, captions or any piece of copy that is supplementary or secondary to any other blocks of content.</p>
                        </div>
                        <div class="alert alert-info extra-padding">
                            <h4><span aria-hidden="true" class="ico fas fa-life-ring"></span> Helper Class!</h4>
                            <p>To easily use the small paragraph style, apply <code>.small</code> to any HTML element (including headings).</p>
                        </div>
                    </div>
                </div>
                {% include back-to-top.html %}
            </div>
        </section>
