        <section>

            <div class="subsection3" id="lists">
                <h2 class="text-csecondary page-header">Lists</h2>
                <div class="row extra-space">
                    <div class="col-sm-4">
                        <h3>Unordered Lists</h3>
                        <div class="shadow-3 code-example">
                            <ul>
                                <li>Item One</li>
                                <li>Item Two</li>
                                <li>Item Three</li>
                            </ul>
                        </div>
                        <p class="small">Used when listing a number of items that are in no particular order.</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Ordered List</h3>
                        <div class="shadow-3 code-example">
                            <ol>
                                <li>Item One</li>
                                <li>Item Two</li>
                                <li>Item Three</li>
                            </ol>
                        </div>
                        <p class="small">Used when listing a number of items that need to be presented in a specific order.</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Unstyled Lists</h3>
                        <div class="shadow-3 code-example">
                            <ul class="list-unstyled">
                                <li>Item One</li>
                                <li>Item Two</li>
                                <li>Item Three</li>
                            </ul>
                        </div>
                        <p class="small">To display a list unstyled (with no bullets or numbers) apply the <code>.list-unstyled</code> class to the <code>ul</code> or <code>ol</code>.</p>
                        <code class="language-markup">
                            &lt;ul class="list-unstyled"&gt;
                        </code>
                    </div>
                    <div class="col-sm-4">
                        <h3>List with Bottom Border</h3>
                        <div class="shadow-3 code-example">
                            <ul class="list-unstyled">
                                <li class="li-border">Item One</li>
                                <li class="li-border">Item Two</li>
                                <li class="li-border">Item Three</li>
                            </ul>
                        </div>
                        <p class="small">To display a list with a bottom border apply the <code>.li-border</code> class to each <code>&lt;li&gt;</code>.</p>

                        <code class="language-markup">
                            &lt;li class="li-border"&gt;
                        </code>
                    </div>
                    <div class="col-sm-4">
                        <h3>Striped list</h3>
                        <div class="shadow-3 code-example">
                            <ol class="list-striped">
                                <li>Item One</li>
                                <li>Item Two</li>
                                <li>Item Three</li>
                            </ol>
                        </div>
                        <p class="small">To display a list with an alternating stripe <code>.list-striped</code> class the list. </p>
                        <code class="language-markup">
                            &lt;ul class="list-striped"&gt;
                        </code>
                        <div class="spacer-1"></div>
                    </div>
                    <div class="col-sm-4">

                        <h3>Inline Lists</h3>
                        <div class="shadow-3 code-example">
                            <ul class="list-inline">
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                            </ul>
                        </div>
                        <p class="small">To display unstyled lists inline apply the <code>.list-inline</code> class to the <code>ul</code> or <code>ol</code>.</p>
                        <code class="language-markup">
                            &lt;ul class="list-inline"&gt;
                        </code>


                    </div>
                </div>
                <div class="row extra-space">
                    <div class="col-sm-12">
                        <h3>List Combinations</h3>
                        <p>Here are some examples to show how some of these classes can be combined:</p>
                    </div>
                </div>
                <div class="row extra-space">
                    <div class="col-sm-4">
                        <p>Combine <code>.list-striped.</code> and <code>.list-unstyled</code> for formatting without bullets.</p>
                        <div class="code-example shadow-3">
                            <ul class="list-striped list-unstyled">
                                <li>Item One</li>
                                <li>Item Two</li>
                                <li>Item Three</li>
                            </ul>
                        </div>
                        <code class="language-markup">
                            &lt;ul class="list-striped list-unstyled"&gt;
                        </code>
                    </div>
                    <div class="col-sm-4">
                        <p>Use an <code>&lt;ol&gt;</code> with <code>.li-border</code> applied to each line item for an ordered list with a bottom border.</p>
                        <div class="code-example shadow-3">
                            <ol>
                                <li class="li-border">Item One</li>
                                <li class="li-border">Item Two</li>
                                <li class="li-border">Item Three</li>
                            </ol>
                        </div>
                        <code class="language-markup">
                            &lt;ol&gt;<br>
                            &lt;li class="li-border"&gt;
                        </code>
                    </div>
                </div>
                {% include back-to-top.html %}
            </div>
        </section>
