  <section>
      <div class="subsection3" id="typefaces">
          <h2 class="text-csecondary page-header">Typefaces</h2>
          <p class="lead">PEGASUS uses <strong>two typefaces</strong> to keep the site clear and legible.</p>
          <div class="spacer-1"></div>
          <div class="row extra-space">
              <div class="col-sm-6">
                  <h3>Open Sans</h3>
                  <div style="font-size:64px;font-family:'Open Sans';padding-bottom:32px;">Aa Bb Cc</div>
                  <div class="panel-group pgs-accordion pgs-accordion--quiet pgs-accordion--sm">
                      <h3>
                          <a href="#collapse-open-sans" class="collapsible collapsed" data-toggle="collapse" aria-expanded="false">
                              <span aria-hidden="true" class="ico fas fa-chevron-circle-right"></span>About Open Sans
                          </a>
                      </h3>
                      <div id="collapse-open-sans" class="panel-collapse collapse">
                          <p><strong>Open Sans</strong> is the primary font for the site and should always be used for body copy and text 16px and smaller.</p>
                          <p><a href="https://fonts.google.com/specimen/Open+Sans">Open Sans is provided by Google Fonts</a> and we are specifically using the font weights of: 300 (light), 400 (regular), 600 (semi-bold) and 700 (bold).</p>
                          <p><strong>Note:</strong> While the Dallas College brand calls for use of Roboto in body copy, we have opted to continue using Open Sans for enhanced legibility in digital formats.</p>
                          <pre><code class="language-css">font-family:'Open Sans', arial, helvetica, sans-serif;</code></pre>
                          <div class="spacer-1"></div>
                          <h4>Fallbacks</h4>
                          <p>The fallback typefaces (used in instances where Open Sans is unavailable) are:</p>
                          <ul>
                              <li>Arial</li>
                              <li>Helvetica</li>
                          </ul>
                      </div>
                  </div>


              </div>
              <div class="col-sm-6">
                  <h3>Montserrat</h3>
                  <div style="font-size:64px;font-family:'Montserrat';padding-bottom:32px;font-weight:800;">Aa Bb Cc</div>
                  <div class="panel-group pgs-accordion pgs-accordion--quiet pgs-accordion--sm">
                      <h3>
                          <a href="#collapse-montserrat" class="collapsible collapsed" data-toggle="collapse" aria-expanded="false">
                              <span aria-hidden="true" class="ico fas fa-chevron-circle-right"></span>About Montserrat
                          </a>
                      </h3>
                      <div id="collapse-montserrat" class="panel-collapse collapse">
                          <p><strong>Montserrat</strong> should be limited to headers, main navigation bars, testimonial components or certain content areas that need special attention.</p>
                          <p><a href="https://fonts.google.com/specimen/Montserrat">Montserrat is provided by Google Fonts</a> and we are specifically using the font weights of: 700 (bold) and 800 (extra-bold).</p>
                          <p><strong>Note:</strong> Montserrat is the cost-effective and scalable alternative to Mont, the official Dallas College brand typeface.</p>
                          <pre class="language-css"><code>font-family: Montserrat, 'Open Sans', arial, helvetica, sans-serif;</code></pre>
                          <div class="spacer-1"></div>
                          <h4>Fallbacks</h4>
                          <p>The fallback typefaces (used in instances where Lucida Bright is unavailable) are:</p>
                          <ul>
                              <li>Open Sans</li>
                              <li>Arial</li>
                              <li>Helvetica</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="spacer-2"></div>
          <div class="alert alert-danger extra-padding">
              <h3 class="h3"><span class="ico fas fa-ban" aria-hidden="true"></span> Deprecated: Serif</h3>
              <p>Because the new <a href="/about/style/pages/default.aspx">Dallas College brand</a> does not include or make use of serif typefaces, serif will be discontinued. Please do not include serifs in any designs or layouts going forward. <strong>All use of this style will be phased out completely by January 1, 2021</strong>.</p>
          </div>
          <div class="alert alert-info extra-padding">
              <h4 class="h3"><span aria-hidden="true" class="ico fas fa-life-ring"></span> Helper Class!</h4>
              <p>You can apply the <code>.mont</code> class to any HTML element to transform the <code>font-family</code> to Montserrat.</p>
          </div>
          {% include back-to-top.html %}
      </div> <!-- /subsection3 -->
  </section>
