<li><a href="https://getbootstrap.com/docs/3.3/components/#alerts">Alerts <span aria-label="Link to external site" class="ico icon2-fa-external-link"></span></a></li>
<li><a href="https://getbootstrap.com/docs/3.3/components/#panels">Panels <span aria-label="Link to external site" class="ico icon2-fa-external-link"></span></a></li>
<li><a href="https://getbootstrap.com/docs/3.3/components/#labels">Labels <span aria-label="Link to external site" class="ico icon2-fa-external-link"></span></a></li>
<li><a href="https://getbootstrap.com/docs/3.3/components/#badges">Badges <span aria-label="Link to external site" class="ico icon2-fa-external-link"></span></a></li>
