<li><a href="https://getbootstrap.com/docs/3.3/css/#grid-offsetting">Offsetting Columns <span aria-label="Link to external site" class="ico icon2-fa-external-link"></span></a></a></li>
<li><a href="https://getbootstrap.com/docs/3.3/css/#grid-nesting">Nesting Columns <span aria-label="Link to external site" class="ico icon2-fa-external-link"></span></a></a></li>
<li><a href="https://getbootstrap.com/docs/3.3/css/#grid-column-ordering">Column Ordering <span aria-label="Link to external site" class="ico icon2-fa-external-link"></span></a></a></li>
