<section id="mini-college-buttons">
    <h2 class="serif page-header csecondary-font">Mini College Buttons <small>(based on <a href="buttons.html#button-sizes">Mini Buttons</a>)</small></h2>
    <p>Use this at the top of a page where you want users to flip through this content between various college views. Or when wanting the user to flip through the content of this page, but flitered out by college.</p>
    <p><a class="button cprimary" href="https://wwws.dallascollege.edu/test/Documents/college-buttons.html">Mini College Button Generator</a></p>
      <div class="code-example card-3">
        <div class="button-nav">
          <a href="https://www.brookhavencollege.edu" class="button button-mn cwhite BHC card-1">Brookhaven</a>
          <a href="https://www.cedarvalleycollege.edu" class="button button-mn cwhite CVC card-1">Cedar Valley</a>
          <a href="https://www.eastfieldcollege.edu" class="button button-mn cwhite EFC card-1">Eastfield</a>
          <a href="https://www.elcentrocollege.edu" class="button button-mn cwhite ECC card-1">El Centro</a>
          <a href="https://www.mountainviewcollege.edu" class="button button-mn cwhite MVC card-1">Mountain View</a>
          <a href="https://www.northlakecollege.edu" class="button button-mn cwhite NLC card-1">North Lake</a>
          <a href="https://www.richlandcollege.edu" class="button button-mn cwhite RLC card-1">Richland</a>
        </div>
      </div>
      <pre><code class="language-markup">&lt;div class=&quot;button-nav&quot;&gt;
  &lt;a href=&quot;https://www.brookhavencollege.edu&quot; class=&quot;button button-mn cwhite BHC card-1&quot;&gt;Brookhaven&lt;/a&gt;
  &lt;a href=&quot;https://www.cedarvalleycollege.edu&quot; class=&quot;button button-mn cwhite CVC card-1&quot;&gt;Cedar Valley&lt;/a&gt;
  &lt;a href=&quot;https://www.eastfieldcollege.edu&quot; class=&quot;button button-mn cwhite EFC card-1&quot;&gt;Eastfield&lt;/a&gt;
  &lt;a href=&quot;https://www.elcentrocollege.edu&quot; class=&quot;button button-mn cwhite ECC card-1&quot;&gt;El Centro&lt;/a&gt;
  &lt;a href=&quot;https://www.mountainviewcollege.edu&quot; class=&quot;button button-mn cwhite MVC card-1&quot;&gt;Mountain View&lt;/a&gt;
  &lt;a href=&quot;https://www.northlakecollege.edu&quot; class=&quot;button button-mn cwhite NLC card-1&quot;&gt;North Lake&lt;/a&gt;
  &lt;a href=&quot;https://www.richlandcollege.edu&quot; class=&quot;button button-mn cwhite RLC card-1&quot;&gt;Richland&lt;/a&gt;
&lt;/div&gt;</code></pre>
</section>
