<section id="seven-college-listings">
    <h2 class="serif page-header csecondary-font">Seven College Listings</h2>
    <div class="alert alert-danger"><strong>Only for full width page layouts.</strong> Not for pages with sidebars.</div>
    <p>Use this snippet when you are wanting to list all seven colleges as a navigation item into more specific college content.</p>
    <div class="subsection3">
      <h3>Seven-College Listing (One Row)</h3>
      <div class="code-example card-3">
        <div class="row college-row">
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college">
            <div class="content-box-3">
              <a href="#">
              <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/BHC-square.gif">
              <span class="cb-title">Brookhaven College</span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college">
            <div class="content-box-3">
              <a href="#">
              <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/CVC-square.gif">
              <span class="cb-title">Cedar Valley College</span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college">
            <div class="content-box-3">
              <a href="#">
              <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/EFC-square.gif">
              <span class="cb-title">Eastfield College</span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college">
            <div class="content-box-3">
              <a href="#">
              <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/ECC-square.gif">
              <span class="cb-title">El Centro College</span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1-5 col-lg-2 col-lg-college col-lg-offset-0">
            <div class="content-box-3">
              <a href="#">
              <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/MVC-square.gif">
              <span class="cb-title">Mountain View College</span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college">
            <div class="content-box-3">
              <a href="#">
              <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/NLC-square.gif">
              <span class="cb-title">North Lake College</span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0 col-lg-2 col-lg-college">
            <div class="content-box-3">
              <a href="#">
              <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/RLC-square.gif">
              <span class="cb-title">Richland College</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <pre><code class="language-markup">&lt;div class=&quot;row college-row&quot;&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/BHC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Brookhaven College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/CVC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Cedar Valley College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/EFC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Eastfield College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/ECC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;El Centro College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-md-offset-1-5 col-lg-2 col-lg-college col-lg-offset-0&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/MVC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Mountain View College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/NLC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;North Lake College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/RLC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Richland College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="subsection3">
      <h3>Seven-College Listing <small>(based on <a href="components.html#content-image-box">Content Image Box</a>)</small></h3>
      <div class="code-example card-3">
        <div class="row">
           <div class="col-md-3 col-sm-4">
              <div class="content-box-3">
                <a target="_blank" href="#">
                  <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/BHC-square.gif" alt=""/>
                  <span class="cb-title">Brookhaven<span class="visible-xs hidden-sm hidden-md visible-lg"> </span><br class="hidden-xs visible-sm visible-md hidden-lg" />College</span>
                </a>
              </div>
           </div>
           <div class="col-md-3 col-sm-4">
              <div class="content-box-3">
                <a target="_blank" href="#">
                  <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/CVC-square.gif" alt=""/>
                  <span class="cb-title">Cedar Valley<span class="visible-xs hidden-sm hidden-md visible-lg"> </span><br class="hidden-xs visible-sm visible-md hidden-lg" />College</span>
                </a>
              </div>
           </div>
           <div class="col-md-3 col-sm-4">
              <div class="content-box-3">
                <a target="_blank" href="#">
                  <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/EFC-square.gif" alt=""/>
                  <span class="cb-title">Eastfield<span class="visible-xs hidden-sm hidden-md visible-lg"> </span><br class="hidden-xs visible-sm visible-md hidden-lg" />College</span>
                </a>
              </div>
           </div>
           <div class="col-md-3 col-sm-4">
              <div class="content-box-3">
                <a target="_blank" href="#">
                  <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/ECC-square.gif" alt=""/>
                  <span class="cb-title">El Centro<span class="visible-xs hidden-sm hidden-md visible-lg"> </span><br class="hidden-xs visible-sm visible-md hidden-lg" />College</span>
                </a>
              </div>
           </div>
           <div class="col-md-3 col-sm-4 col-md-offset-1-5">
              <div class="content-box-3">
                <a target="_blank" href="#">
                  <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/MVC-square.gif" alt=""/>
                  <span class="cb-title">Mountain View<span class="visible-xs hidden-sm hidden-md visible-lg"> </span><br class="hidden-xs visible-sm visible-md hidden-lg" />College</span>
                </a>
              </div>
           </div>
           <div class="col-md-3 col-sm-4">
              <div class="content-box-3">
                <a target="_blank" href="#">
                  <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/NLC-square.gif" alt=""/>
                  <span class="cb-title">North Lake<span class="visible-xs hidden-sm hidden-md visible-lg"> </span><br class="hidden-xs visible-sm visible-md hidden-lg" />College</span>
                </a>
              </div>
           </div>
           <div class="col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-0">
              <div class="content-box-3">
                <a target="_blank" href="#">
                  <img class="cb-mainimg img-circle card-2" src="https://www.dallascollege.edu/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/RLC-square.gif" alt=""/>
                  <span class="cb-title">Richland<span class="visible-xs hidden-sm hidden-md visible-lg"> </span><br class="hidden-xs visible-sm visible-md hidden-lg" />College</span>
                </a>
              </div>
           </div>
        </div>
      </div>
      <pre><code class="language-markup">&lt;div class=&quot;row college-row&quot;&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/BHC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Brookhaven College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/CVC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Cedar Valley College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/EFC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Eastfield College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/ECC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;El Centro College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-md-offset-1-5 col-lg-2 col-lg-college col-lg-offset-0&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/MVC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Mountain View College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-sm-4 col-md-3 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/NLC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;North Lake College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0 col-lg-2 col-lg-college&quot;&gt;
    &lt;div class=&quot;content-box-3&quot;&gt;
      &lt;a href=&quot;#&quot;&gt;
      &lt;img class=&quot;cb-mainimg img-circle card-2&quot; src=&quot;/Emp/Tools/StyleGuide/DistrictLogos/PublishingImages/RLC-square.gif&quot;&gt;
      &lt;span class=&quot;cb-title&quot;&gt;Richland College&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

</section>
