<section id="cta-stripe">
  <h2 class="page-header text-csecondary">Call to Action Stripe</h2>
  <div class="alert alert-danger extra-padding"><strong>Only for full width page layouts.</strong> Not for pages with sidebars.</div>
  <div class="code-example shadow-3">
    <div class="full-width-row bg-cprimary-lt">
      <div class="container">
        <div class="row">
          <div class="cta-stripe">
            <div class="col-md-8">
              <p class="text-center cta-stripe-text">Are you interested in this totally awesome career?</p>
            </div>
            <div class="col-md-4"><a href="#" class="button button-block bg-cprimary-gr">Start Today<span aria-hidden="true" class="ico fas fa-arrow-circle-right ico-right">&#160;</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer-2"></div>


<pre><code class="language-markup">&lt;div class=&quot;full-width-row bg-cprimary-lt&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;cta-stripe&quot;&gt;
                &lt;div class=&quot;col-md-8&quot;&gt;
                    &lt;p class=&quot;text-center cta-stripe-text&quot;&gt;Are you interested in this totally awesome career?&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-md-4&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;button button-block cprimary-gr&quot;&gt;Start Today&lt;span aria-hidden=&quot;true&quot; class=&quot;ico fas fa-arrow-circle-right ico-right&quot;&gt;&amp;#160;&lt;/span&gt;&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>


</section>
