<section id="testimonials">
  <h2 class="text-csecondary page-header">Testimonials</h2>
  <h3>Standard Testimonials</h3>
  <div class="shadow-3 code-example">
      <div class="row">
          <div class="testimonial">
              <div class="col-md-7 col-md-offset-1  col-md-push-4">
                  <div class="testimonial-quote">
                      <blockquote><span class="sr-only">&ldquo;</span>I think one of the main reasons I love working for Dallas College is that they encourage all of us to be innovative and to continuously learn new technologies that help our students be successful.&rdquo;</blockquote>
                  </div>
              </div>
              <div class="col-md-4 col-md-pull-8">
                  <div class="testimonial-photo text-center">
                      <img class="img-circle" src="https://via.placeholder.com/300" alt="">
                      <div class="testimonial-name">Bob Newhart</div>
                      <div class="testimonial-titletitle">Program Coordinator</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <pre><code class="language-markup">&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;testimonial&quot;&gt;
      &lt;div class=&quot;col-md-7 col-md-offset-1 col-md-push-4&quot;&gt;
          &lt;div class=&quot;testimonial-quote&quot;&gt;
              &lt;blockquote&gt;&lt;span class=&quot;sr-only&quot;&gt;&amp;ldquo;&lt;/span&gt;[QUOTE]&amp;rdquo;&lt;/blockquote&gt;
          &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-md-4 col-md-pull-8&quot;&gt;
          &lt;div class=&quot;testimonial-photo text-center&quot;&gt;
              &lt;img class=&quot;img-circle&quot; src=&quot;[IMAGE LOCATION]&quot; alt=&quot;&quot;&gt;
              &lt;div class=&quot;testimonial-name&quot;&gt;[PERSON NAME]&lt;/div&gt;
              &lt;div class=&quot;testimonial-titletitle&quot;&gt;[PERSON TITLE]&lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="spacer-3"></div>
<h3 id="testimonial-small">Small Testimonials</h3>
<div class="shadow-3 code-example">
<div class="row">
    <div class="testimonial testimonial-small">
        <div class="col-sm-8 col-sm-push-3 col-sm-offset-1">
            <div class="testimonial-quote">
                <blockquote><span class="sr-only">“</span>I think one of the main reasons I love working for Dallas College is that they encourage all of us to be innovative and to continuously learn new technologies that help our students be
                    successful.” <a href="#">Read Bob's story</a>.</blockquote>
            </div>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
            <div class="testimonial-photo text-center">
                <img class="img-circle" src="https://via.placeholder.com/100" alt="">
                <div class="testimonial-name">Bob Newhart</div>
                <div class="testimonial-titletitle">Program Coordinator</div>
            </div>
        </div>
    </div>
</div>

</div>
<pre><code class="language-markup">&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;testimonial testimonial-small&quot;&gt;
        &lt;div class=&quot;col-sm-8 col-sm-push-3 col-sm-offset-1&quot;&gt;
            &lt;div class=&quot;testimonial-quote&quot;&gt;
                &lt;blockquote&gt;&lt;span class=&quot;sr-only&quot;&gt;&amp;ldquo;&lt;/span&gt;[QUOTE]&amp;rdquo; &lt;a href=&quot;#&quot;&gt;[LINK TEXT]&lt;/a&gt;.&lt;/blockquote&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-3 col-sm-pull-9&quot;&gt;
            &lt;div class=&quot;testimonial-photo text-center&quot;&gt;
                &lt;img class=&quot;img-circle&quot; src=&quot;[IMAGE LOCATION]&quot; alt=&quot;&quot;&gt;
                &lt;div class=&quot;testimonial-name&quot;&gt;[PERSON NAME]&lt;/div&gt;
                &lt;div class=&quot;testimonial-titletitle&quot;&gt;[PERSON TITLE]&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

<div class="spacer-3"></div>
<h3 id="testimonial-small">Mega Testimonials</h3>
<div class="shadow-3 code-example">
    <div class="row">
        <div class="testimonial testimonial--mega text-center">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="testimonial-quote">
                    <blockquote><span class="sr-only">&ldquo;</span>I think one of the main reasons I love working for Dallas College is that they encourage all of us to be innovative and to continuously learn new technologies that help our students be successful.<span class="sr-only">&rdquo;</span></blockquote>
                </div>
                <div class="text-cgrey-60">
                    <div class="testimonial-name">Bob Newhart</div>
                    <div class="testimonial-titletitle">Program Coordinator</div>
                </div>
            </div>
        </div>
    </div>
</div>
<pre><code class="language-markup">&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;testimonial testimonial--mega text-center&quot;&gt;
        &lt;div class=&quot;col-xs-10 col-xs-offset-1&quot;&gt;
            &lt;div class=&quot;testimonial-quote&quot;&gt;
                &lt;blockquote&gt;&lt;span class=&quot;sr-only&quot;&gt;&amp;ldquo;&lt;/span&gt;[QUOTE]&lt;span class=&quot;sr-only&quot;&gt;&amp;rdquo;&lt;/span&gt;&lt;/blockquote&gt;
            &lt;/div&gt;
            &lt;div class=&quot;text-cgrey-60&quot;&gt;
                &lt;div class=&quot;testimonial-name&quot;&gt;[PERSON NAME]&lt;/div&gt;
                &lt;div class=&quot;testimonial-titletitle&quot;&gt;[PERSON TITLE]&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
{% include back-to-top.html %}
</section>
